<p>vehicles works!</p>

<input type="text" placeholder="search" [(ngModel)]="term">
<button class="red-button" (click)="filtervehicles()">search</button>
<button class="red-button" (click)="getVhiclesWithParameters()">search2</button>


<label for="">Column:</label>
<select name="" id="" [(ngModel)]="column">
    <option value="color">color</option>
    <option value="fuel">Fuel</option>
    <option value="model">Model</option>
    <option value="manufacturer">manufacturer</option>
</select>

<label for="">Order:</label>
<select name="" id="" [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button class="blue-button" (click)=" sortVehicles()">sort</button>
<button class="blue-button" (click)="getVhiclesWithParameters()">sort2</button>

  <!-- <button class="yellow-button"
(click)="pageVehicles(i+1)"
*ngFor="let page of [].constructor(10);let i = index">{{i+1}}</button>   -->

<table border="2">
    <thead >
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <!-- <th>cost</th>
            <th>tyres</th> -->
            <th>id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img [src]="vehicle.image" alt="" width="60px" height="60px">
            </td>
            <!-- <td>{{vehicle.cost}}</td>
            <td>{{vehicle.tyres}}</td> -->
            <td>{{vehicle.id}}</td>
            <td>
                <button class="blue-button" routerLink="/dashboard/vehicle-details/{{vehicle.id}}">view</button>
                <button class="yellow-button" routerLink="/dashboard/edit-vehicle/{{vehicle.id}}">edit</button>
                <button class="red-button" (click)="deletevehicle(vehicle.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>

 <button class="yellow-button"
(click)="pageVehicles(i+1)"
*ngFor="let page of [].constructor(10);let i = index">{{i+1}}
</button> 
<hr>
<button class="green-button" (click)="getVhiclesWithParameters(i+1)"
*ngFor="let page of [].constructor(10); let i =index">{{i+1}}
</button>

 