<p>directives works!</p>

<!-- 1) structural directives====>*ngFor,*ngIf-->
 <!-- 2)Attribute Directives: [ngstyle],[ngclass] -->

<p *ngFor="let state of states">{{states}}</p>

<ul>
    <li *ngFor="let state of states">{{state}}</li>
</ul>

<!-- states deepdown -->






<select name="" id="">
    <option value="" *ngFor="let state of states">{{state}}</option>
    
</select>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td [ngStyle]="{'color': user.age<35?'red':'green'}"
            [ngClass]="{'young':user.age>35,'old':user.age<35}">{{user.age}}</td>
        </tr>
    </tbody>
</table>

<!-- IF -->

<h1 *ngIf="isShow">Hello Jagadeesh</h1>