
<h1>Create vechicle Form</h1>
<form action="" [formGroup]="vehicleType" (ngSubmit)="submit()">
    <label for="">Vehicle</label>
    <input type="text" formControlName="Vehicle">
    <br>
    <label for="">Manufacturer</label>
    <input type="text" formControlName="manufacturer">
    <br>
    <label for="">Model</label>
    <input type="text" formControlName="model">
    <br>
    <label for="">type</label>
    <input type="text" formControlName="type">
    <br>
    <label for="">Fuel</label>
    <input type="text" formControlName="fuel">
    <br>
    <label for="">Color</label>
    <input type="text" formControlName="color">
    <br>
    <label for="">Image</label>
    <input type="text" formControlName="image">
    <br>
    <input type="submit">
</form>
