<div class="parent">
    <div class="left">
        <div class="logo">My Website</div>
        <h1 routerLink="home">home</h1>
        <h1 routerLink="welcome">welcome</h1>
        <h1 routerLink="data-binding">Data binding</h1>
        <h1 routerLink="Directives">Directives</h1>
        <h1 routerLink="pipes">Pipes</h1>
        <h1 routerLink="users">Users</h1>
        <h1 routerLink="Products">Products</h1>
        <h1 routerLink="vehicles">vehicles</h1>
        <h1 routerLink="Banking">Banking</h1>
        <h1 routerLink="flipkart">flipkart</h1>
        <h1 routerLink="mail">Mail</h1>
        <h1 routerLink="weather">Weather</h1>
        <h1 routerLink="create-vehicle">create-vehicle</h1>
        <h1 routerLink="create-account">Create-Account</h1>
        <h1 routerLink="student-idcards">Student-IdCards</h1>
        <h1 routerLink="createidcard">createidcard</h1>

        <button routerLink="/login">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
            </div>
</div>